
@import scala.collection.mutable.ListBuffer
@(userList:ListBuffer[User])(implicit request: play.api.mvc.RequestHeader)
<!DOCTYPE html>
<html lang="en">
<head>

    @files()

</head>
<body><center><h1 class = "text-info"> MANAGING USERS!!!!!</h1></center>
<div class="container">
    @for(user <- userList) {
    @if(!(user.userName == request.session.get("connected"))){
    <div class = "row">
        <h3 > <div class="col-md-5">@user.userName</div></h3>

        @if(!user.isEnabled){
        <form class="form" method="post" action="/enable">
            <input type="hidden"  name="username" value=@user.userName>
           <div class="col-md-offset-1 col-md-2"><input type="submit" value="enable" class="btn-success ">  </div>
        </form>
            }else{

            <form class="form" method="post" action="/disable">
                <input type="hidden"  name="username" value=@user.userName>

            <div class=""col-md-2><input type="submit" value="disable" class="btn-danger ">  </div>
        </form>

        }
</div>
}}
</div>
</body>
</html>