@import play.mvc.QueryStringBindable
@import scala.collection.mutable.ListBuffer
@(userList:ListBuffer[User])
<!DOCTYPE html>
<html lang="en">
<head>

    @files()

</head>
<body><center><h1 class = "text-info"> MANAGING USERS!!!!!</h1></center>
<div class="container">
    @for(user <- userList) {
    <div class = "row">
        <h3 > <div class="col-md-5">@user.userName</div></h3>


        <form class="form" method="post" >
            <input type="hidden" id="username" name="username" value=@user.userName>
            <div class="col-md-offset-1 col-md-2"><a href="@routes.HomeController.enableUser" name = "enable" class="btn-success "> Enable </a> </div>
            <div class=""col-md-2><a href="@routes.HomeController.disableUser" name="disable" class="btn-danger "> Disable </a></div>
        </form>

        }
</div>

</div>
</body>
</html>